.available_location{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 71px;
}
.title{
    text-align: center;
}
.tagline{
    text-align: center;
    padding-top: 22px;
}

.slider{
    margin-top: 70px;
    position: relative;
    z-index: 1;
}