.container {
  position: relative;
  margin-top: 12px;
}
.icon {
  position: absolute;
  top: 0;
  left: -24px;
}
.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}



