.featured_collection{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 71px;
}
.title{
    text-align: center;
}
.tagline{
    text-align: center;
    padding-top: 22px;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 451px);
    grid-gap: 12px;
    margin-top: 66px;
}